Thumbs.db
*.aws
*.avrsuo
*.avrsln
*.avrgccproj
TAGS
*,v
*.eep
*.lss
*.map
*.elf
*~
*.o
*.hex
*.d
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
default/*
bin/*
debug/*
[Tt]est[Rr]esult*